*, 
::before, 
::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ol,ul,li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

img {
    display: block;
}

.header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.container-header {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #2e2f42;
  list-style-type: none;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
  text-decoration: none;
  margin-right: 76px;
  
}

.web-header {
  font-family: "Raleway", sans-serif;
  width: 44px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.studio-header {
  font-family: "Raleway", sans-serif;
  width: 71px;
  height: 21px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.nav-list {
  list-style-type: none;
  box-sizing: content-box;
  display: flex;
  gap: 40px;
  margin: 0 auto;
  padding: 24px 0;
}

.nav-list-items {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-list li:hover a,
.nav-list li:focus a {
  color: #404bbf;
}

.adres {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  gap: 40px;
}

.adres a {
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  color: #434455;
}

.adres li:hover a,
.adres li:focus a {
  color: #404bbf;
}


section {
  padding: 120px 0;
}

.section-hero {
  background-color: #2e2f42;
  text-align: center;
  margin: 0 auto;
  padding: 188px 0;
  height: 600px;
}

.title-one {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  max-width: 496px;
  padding-bottom: 48px;
}

.order-button {
  background-color: #4d5ae5;
  color: #ffffff;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;

}

.order-button:hover {
  background-color: #404bbf;
}

.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-one-list {
  display: flex;
  gap: 24px;
}

.section-one-list-item {
  list-style-type: none;
  width: calc((100% - 72px) / 4);
}

.title-three {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5em;
  margin-bottom: 8px;
}

.section-one p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.section-two {
  background-color: #f4f4fd;
}

.section-two h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 0.02em;
  text-align: center;
}

.title-two {
    margin-bottom: 72px;
}

.section-two-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
    align-items: center;
    text-align: center;
}

.section-two-list-item {
    width: calc((100% - 72px) / 4);
    list-style-type: none;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
}

.section-two img {
  width: 264px;
  height: 260px;
}

.staff {
    padding: 32px 0;
}  

.title-three {
    color: #2E2F42;
    font-weight: 500;
    font-size: 100%;
    line-height: 1.5em;
    initial-letter: 2%;
    margin-bottom: 8px;
}
    


.section-two p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.section-three h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5em;
  letter-spacing: 0.02em;
  text-align: center;
  
}

.title-two {
    margin-bottom: 72px;
}

.section-three-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.section-three-list-item {
list-style-type: none;
} 


.our-border {
    border: 1px;
    border-color: #e7e9fc;
    border-style: solid;
    border-top: none;
    height: 120px;
    padding: 32px 16px;

}

.section-three img {
  width: 360px;
  height: 300px;
}

.section-three p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
  height: 312px;
  padding: 100px 0;
}

.container-footer {
  width: 1158px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  width: 71px;
  height: 21px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3125em;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.web {
  color: #4d5ae5;
}

.studio {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  max-width: 264px;
}
